<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  {% capture page_title -%}
    {%- if title -%}
      {{ title }} — {{ site.name }}
    {%- else -%}
      {{ site.name }} — {{ site.short_description }}
    {%- endif -%}
  {% endcapture -%}

  <title>{{ page_title }}</title>

  <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
  <meta name="application-name" content="{{ site.name }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="{{ site.theme_color }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:author_name" content="{{ site.name }}">
  <meta property="og:author_url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.icon }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{site.url }}{{ page.url }}">

  <link rel="alternate" href="/@theorchid/feed.json" title="Updates from {{ site.name }}" type="application/feed+json">
  <link rel="alternate" href="{{ activitypub_resource_url | default: activitypub.id }}" type="application/activity+json">
  <link rel="apple-touch-icon" href="/icon-256x256.png">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>
<body>

  <div class="container">
    <header class="global-header" role="banner">
      <h1>
        <a href="/" rel="home">{% include "../assets/images/logo.svg" %}</a>
      </h1>
    </header>

    <nav class="global-navigation" role="navigation">
      <ul class="ui-list">
        <li>
          <a href="/releases" class="bordered-link">
            <span>Releases</span>
          </a>
        </li>
        <li>
          <a href="/shows" class="bordered-link">
            <span>Shows</span>
          </a>
        </li>
        <li>
          <a href="/biography" class="bordered-link" rel="me">
            <span><abbr data-suffix="graphy" title="Biography">Bio</abbr></span>
          </a>
        </li>
      </ul>
    </nav>

    <main class="global-content" role="main">
      {{ content }}
    </main>

    <footer class="global-footer h-card" role="contentinfo">
      <p class="bio p-note"><a href="/" class="p-name u-uid u-url" rel="home">The Orchid</a> is an instrumental post-rock band from <span class="p-locality">Washington</span>, <abbr class="p-region" title="District of Columbia">DC</abbr>.</p>

      <ul class="ui-list">
        <li><a href="https://theorchid.bandcamp.com" class="u-url" rel="me">{% include "../assets/images/icons/bandcamp.svg" %}</a></li>
        <li><a href="https://twitter.com/theorchid" class="u-url" rel="me">{% include "../assets/images/icons/twitter.svg" %}</a></li>
        <li><a href="https://www.facebook.com/whoistheorchid" class="u-url" rel="me">{% include "../assets/images/icons/facebook.svg" %}</a></li>
        <li><a href="https://itunes.apple.com/us/artist/the-orchid/id77784209" class="u-url" rel="me">{% include "../assets/images/icons/apple-music.svg" %}</a></li>
        <li><a href="https://open.spotify.com/artist/2n128iwOn5uLS8568XNRCQ" class="u-url" rel="me">{% include "../assets/images/icons/spotify.svg" %}</a></li>
        <li><a href="https://soundcloud.com/whoistheorchid" class="u-url" rel="me">{% include "../assets/images/icons/soundcloud.svg" %}</a></li>
        <li><a href="https://vimeo.com/whoistheorchid" class="u-url" rel="me">{% include "../assets/images/icons/vimeo.svg" %}</a></li>
      </ul>

      <p>Correspondence: <a href="mailto:booking&#064;whoistheorchid&#46;com" class="u-email">booking&#064;whoistheorchid&#46;com</a></p>

      <small>Some rights reserved. This site’s content is licensed under a <a href="{{ site.license.url }}" rel="license">{{ site.license.name }} license</a>. Source code available on <a href="{{ site.source.url }}" rel="source">{{ site.source.name }}</a>.</small>
    </footer>
  </div>

  <script>
    (() => {
      document.querySelectorAll('iframe[data-src]').forEach(iframe => {
        iframe.src = iframe.getAttribute('data-src') + location.href;
      });
    })();
  </script>

</body>
</html>
