<!doctype html>
<html lang="{{ app.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture page_title -%}
    {%- if title -%}
      {{ title }} — {{ app.name }}
    {%- else -%}
      {{ app.name }} — an instrumental post-rock band from Washington, DC
    {%- endif -%}
  {% endcapture -%}

  <title>{{ page_title }}</title>

  <link rel="stylesheet" href="/assets/stylesheets/application.css">

  <link rel="preload" href="/assets/stylesheets/application.css" as="style">

  <link rel="alternate" href="/feed.json" title="Updates from {{ app.name }}" type="application/feed+json">
  <link rel="apple-touch-icon" href="{{ app.icons[0].src }}">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="{{ app.icons[0].src }}">

  <meta name="apple-mobile-web-app-title" content="{{ app.name }}">
  <meta name="application-name" content="{{ app.name }}">
  <meta name="description" content="{{ app.description }}">
  <meta name="fediverse:creator" content="@theorchid@whoistheorchid.com">
  <meta name="generator" content="Eleventy">
  <meta name="theme-color" content="{{ app.theme_color }}">

  <meta property="og:author_name" content="{{ app.name }}">
  <meta property="og:author_url" content="{{ app.start_url }}">
  <meta property="og:description" content="{{ app.description }}">
  <meta property="og:image" content="{{ app.icons[2].src }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{ app.start_url }}{{ page.url }}">
</head>
<body>

  <div>
    <header class="global-header" role="banner">
      <h1>
        <a href="/" rel="home">{% render "assets/images/logo.svg" %}</a>
      </h1>
    </header>
  </div>

  <nav class="global-navigation" role="navigation">
    <ul class="ui-list">
      <li>
        <a href="/releases" class="bordered-link">
          <span>Releases</span>
        </a>
      </li>
      <li>
        <a href="/shows" class="bordered-link">
          <span>Shows</span>
        </a>
      </li>
      <li>
        <a href="/biography" class="bordered-link" rel="me">
          <span>Biography</span>
        </a>
      </li>
      <li>
        <a href="/updates" class="bordered-link">
          <span>Updates</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="global-content" role="main">
    {{ content }}
  </main>

  <footer class="global-footer h-card" role="contentinfo">
    <p class="bio p-note"><a href="/" class="p-name u-uid u-url" rel="home">The Orchid</a> is an instrumental post-rock band from <span class="p-locality">Washington</span>, <abbr class="p-region" title="District of Columbia">DC</abbr>.</p>

    <ul class="profiles-list ui-list">
      <li><a href="https://theorchid.bandcamp.com" class="profile-bandcamp u-url" rel="me">{% render "assets/images/icons/bandcamp.svg" %}</a></li>
      <li><a href="{{ activitypub.url }}" class="profile-mastodon u-url" rel="me">{% render "assets/images/icons/mastodon.svg" %}</a></li>
      <li><a href="https://www.facebook.com/whoistheorchid" class="profile-facebook u-url" rel="me">{% render "assets/images/icons/facebook.svg" %}</a></li>
      <li><a href="https://itunes.apple.com/us/artist/the-orchid/id77784209" class="profile-apple-music u-url" rel="me">{% render "assets/images/icons/apple-music.svg" %}</a></li>
      <li><a href="https://open.spotify.com/artist/2n128iwOn5uLS8568XNRCQ" class="profile-spotify u-url" rel="me">{% render "assets/images/icons/spotify.svg" %}</a></li>
      <li><a href="https://soundcloud.com/whoistheorchid" class="profile-soundcloud u-url" rel="me">{% render "assets/images/icons/soundcloud.svg" %}</a></li>
      <li><a href="https://vimeo.com/whoistheorchid" class="profile-vimeo u-url" rel="me">{% render "assets/images/icons/vimeo.svg" %}</a></li>
    </ul>

    <p>Correspondence: <a href="mailto:booking&#064;whoistheorchid&#46;com" class="u-email">booking&#064;whoistheorchid&#46;com</a></p>

    <small>Some rights reserved. This site’s content is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="{{ pkg.homepage }}" rel="source">GitHub</a>.</small>
  </footer>

</body>
</html>
