---
layout: "layouts/base.liquid"
---

<article class="release article h-entry">
  <h1 class="page-title p-name">{{ title }}</h1>

  <div class="release-content article-content e-content">
    <figure class="release-artwork">
      <a href="{{ bandcamp.url }}" class="bordered-link">
        <img src="/assets/images/releases/{{ page.fileSlug }}-800.jpg" alt="{{ bandcamp.title }} cover art">
      </a>
    </figure>

    <div class="release-description">
      {{ content }}
    </div>
  </div>

  {% if bandcamp.id -%}
    {% include "bandcamp_player.liquid" id: bandcamp.id %}
  {% endif -%}
</article>
